In [45]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np

In [11]:
# Tematem naszego projektu jest emigracja ludności, czyli wyjazd za granicę państwa na określony czas lub w celu zamieszkania tam na stałe. Zjawisko z każdym kolejnym rokiem, jest coraz bardziej odczuwalne dla nasz
# ego Państwa, jednak warto przyjrzeć się też chociażby naszym sąsiadom. Poniżej prezentujemy wyniki badań z serwisu eurostat, dotyczące emigracji w przeciągu lat, w określonych miejscach.

df=pd.read_excel('migr_emi2.xls',skiprows=11)
df

,GEO/TIME,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Belgium,66013,84148,93600,102657,94573,89794,92471,89690,88935,102936
1,Bulgaria,:,:,16615,19678,28727,29470,30570,31586,33225,39941
2,Czechia,61069,55910,46106,25894,28468,25684,38864,27316,26742,77798
3,Denmark,41456,41593,43663,43310,44426,44625,52654,56403,60381,66520
4,Germany (until 1990 former territory of the FRG),252456,249045,240001,259328,324221,338403,533762,560700,540415,576319
5,Estonia,5294,6214,6321,6740,4637,13003,13792,12358,10476,12801
6,Ireland,78099,83049,81797,76560,71107,67160,62056,64068,53735,62004
7,Greece,62041,92404,124694,117094,106804,109351,106535,103327,103049,95020
8,Spain,403377,409034,446606,532303,400430,343875,327325,368860,309526,296248
9,France,269531,291594,255922,239813,308103,324517,313622,215470,300668,299101
10,Croatia,13017,12699,12877,15262,20858,29651,36436,47352,39515,40148
11,Italy,78771,82461,106216,125735,136328,146955,157065,155110,156960,179505
12,Cyprus,4293,4895,18105,25227,24038,17183,14892,15105,15340,17373
13,Latvia,39651,30311,25163,22561,19017,20119,20574,17724,15814,14583
14,Lithuania,83157,53863,41100,38818,36621,44533,50333,47925,32206,29273
15,Luxembourg,9302,9264,10442,10750,11283,12644,13442,13831,13985,15593
16,Hungary,13365,15100,22880,34691,42213,43225,39889,39829,48178,49795
17,Malta,4201,3806,4005,4778,5108,7095,8303,7020,9342,7998
18,Netherlands,95970,104201,110431,112625,112900,112330,111477,108231,109635,107906
19,Austria,51651,51197,51812,54071,53491,56689,64428,66144,67212,68280
20,Poland,218126,265798,275603,276446,268299,258837,236441,218492,189794,180594
21,Portugal,23760,43998,51958,53786,49572,40377,38273,31753,31600,28219
22,Romania,197985,195551,170186,161755,172871,194718,207578,242193,231661,233736
23,Slovenia,15937,12024,14378,13384,14336,14913,15572,17555,13527,15106
24,Slovakia,1889,1863,2003,2770,3644,3870,3801,3466,3298,3384
25,Finland,11905,12660,13845,13893,15486,16305,18082,16973,19141,17263
26,Sweden,48853,51179,51747,50715,51237,55830,45878,45620,46981,47718
27,Iceland,5459,4812,4758,4372,4052,4046,4159,3641,4372,4590
28,Liechtenstein,428,467,439,497,476,468,522,426,484,446
29,Norway,25835,20349,22693,26523,29308,29173,34694,31963,27158,23207
30,Switzerland,96839,96494,103881,106196,111103,116631,120653,124997,130225,126221
31,United Kingdom,339306,350703,321217,316934,319086,299183,340440,359665,344347,368385
32,North Macedonia,1007,1290,1415,1041,839,1016,630,424,377,:
33,Belarus,:,:,:,:,:,:,:,:,:,:
34,Moldova,:,:,:,:,:,:,:,:,:,:
35,Russia,:,:,:,:,:,:,:,:,:,:
36,San Marino,:,:,:,:,:,:,:,:,:,:
37,Kyrgyzstan,:,:,:,:,:,:,:,:,:,:
38,Tajikistan,:,:,:,:,:,:,:,:,:,:
39,Uzbekistan,:,:,:,:,:,:,:,:,:,:
40,Armenia,:,:,:,:,:,:,:,:,:,:
41,Azerbaijan,:,:,:,:,:,:,:,:,:,:
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Special value:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Treść pliku nie prezentuje się w sposób nas satysfakcjonujący. W pierwszej kolejności zmienimy pierwszą komórkę, następnie przytnieny więc końcówkę statystyki, z miejscami, w których dane nie zostały pobrane/ujawnione. 
df = df.rename(columns={'GEO/TIME':'LOKALIZACJA / ROK'})
df=df.iloc[:33]
df

,LOKALIZACJA / ROK,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Belgium,66013,84148,93600,102657,94573,89794,92471,89690,88935,102936
1,Bulgaria,:,:,16615,19678,28727,29470,30570,31586,33225,39941
2,Czechia,61069,55910,46106,25894,28468,25684,38864,27316,26742,77798
3,Denmark,41456,41593,43663,43310,44426,44625,52654,56403,60381,66520
4,Germany (until 1990 former territory of the FRG),252456,249045,240001,259328,324221,338403,533762,560700,540415,576319
5,Estonia,5294,6214,6321,6740,4637,13003,13792,12358,10476,12801
6,Ireland,78099,83049,81797,76560,71107,67160,62056,64068,53735,62004
7,Greece,62041,92404,124694,117094,106804,109351,106535,103327,103049,95020
8,Spain,403377,409034,446606,532303,400430,343875,327325,368860,309526,296248
9,France,269531,291594,255922,239813,308103,324517,313622,215470,300668,299101
10,Croatia,13017,12699,12877,15262,20858,29651,36436,47352,39515,40148
11,Italy,78771,82461,106216,125735,136328,146955,157065,155110,156960,179505
12,Cyprus,4293,4895,18105,25227,24038,17183,14892,15105,15340,17373
13,Latvia,39651,30311,25163,22561,19017,20119,20574,17724,15814,14583
14,Lithuania,83157,53863,41100,38818,36621,44533,50333,47925,32206,29273
15,Luxembourg,9302,9264,10442,10750,11283,12644,13442,13831,13985,15593
16,Hungary,13365,15100,22880,34691,42213,43225,39889,39829,48178,49795
17,Malta,4201,3806,4005,4778,5108,7095,8303,7020,9342,7998
18,Netherlands,95970,104201,110431,112625,112900,112330,111477,108231,109635,107906
19,Austria,51651,51197,51812,54071,53491,56689,64428,66144,67212,68280
20,Poland,218126,265798,275603,276446,268299,258837,236441,218492,189794,180594
21,Portugal,23760,43998,51958,53786,49572,40377,38273,31753,31600,28219
22,Romania,197985,195551,170186,161755,172871,194718,207578,242193,231661,233736
23,Slovenia,15937,12024,14378,13384,14336,14913,15572,17555,13527,15106
24,Slovakia,1889,1863,2003,2770,3644,3870,3801,3466,3298,3384
25,Finland,11905,12660,13845,13893,15486,16305,18082,16973,19141,17263
26,Sweden,48853,51179,51747,50715,51237,55830,45878,45620,46981,47718
27,Iceland,5459,4812,4758,4372,4052,4046,4159,3641,4372,4590
28,Liechtenstein,428,467,439,497,476,468,522,426,484,446
29,Norway,25835,20349,22693,26523,29308,29173,34694,31963,27158,23207
30,Switzerland,96839,96494,103881,106196,111103,116631,120653,124997,130225,126221
31,United Kingdom,339306,350703,321217,316934,319086,299183,340440,359665,344347,368385
32,North Macedonia,1007,1290,1415,1041,839,1016,630,424,377,:

In [6]:
# Jak widać w zestawieniu są obecne 33 pozycje. Do porównania daleko szukać nie trzeba, dlatego też poniżej prezentujemy okrojone (dostępne) dane tzn. Polska i sąsiedzi.

df2= df[df['LOKALIZACJA / ROK'] == 'Poland' ]
sasiedzi = ['Germany', 'Czechia', 'Slovakia', 'Ukraine', 'Belarus', 'Lithuania']
for sasiad in sasiedzi:
    df2 = df2.append(df[df['LOKALIZACJA / ROK'] == sasiad])
    if (sasiad not in df['LOKALIZACJA / ROK'] ):
        print("brak " + sasiad + " w zestawieniu") #POPRAWIĆ! i dodać np. rosje (bo ma kilka składników)

df2

brak Germany w zestawieniu
brak Czechia w zestawieniu
brak Slovakia w zestawieniu
brak Ukraine w zestawieniu
brak Belarus w zestawieniu
brak Lithuania w zestawieniu

,LOKALIZACJA / ROK,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
20,Poland,218126,265798,275603,276446,268299,258837,236441,218492,189794,180594
2,Czechia,61069,55910,46106,25894,28468,25684,38864,27316,26742,77798
24,Slovakia,1889,1863,2003,2770,3644,3870,3801,3466,3298,3384
14,Lithuania,83157,53863,41100,38818,36621,44533,50333,47925,32206,29273

In [7]:
# Aby tabela wyglądała estetyczniej, zastąpimy obecne indeksy, numerami w kolejności, zaczynając od 0
df2.reset_index(drop=True, inplace=True)
df2

,LOKALIZACJA / ROK,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Poland,218126,265798,275603,276446,268299,258837,236441,218492,189794,180594
1,Czechia,61069,55910,46106,25894,28468,25684,38864,27316,26742,77798
2,Slovakia,1889,1863,2003,2770,3644,3870,3801,3466,3298,3384
3,Lithuania,83157,53863,41100,38818,36621,44533,50333,47925,32206,29273

In [49]:
# Niestety nie wszystkie państwa zostały zawarte w ogólnym porównaniu, jednak sprawdźmy jak wypadamy na tle uzyskanych danych. Porównajmy sobie maksymalne wyniki (z tabeli Polska i dostępni sąsiedzi).
lata = ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'] #TUTAJ TRZEBA SPRAWDZIĆ CZY DA SIE SPISAĆ LATA Z DF2, ŻEBY NIE ROBIĆ TEGO RĘCZNIE 
# POMYŚLEĆ CZY NIE ZROBIĆ ZESTAWIENIA Z 3 LAT 2017/18/19
for rok in lata:
    df3 = df3.append(df2[df2[rok]==df2[rok].max()])

df3.reset_index(drop=True, inplace=True)
df3

NameError: name 'df3' is not defined

In [60]:
# Aby wynik był bardziej przejrzysty, oraz aby zaprezentować jak rozkładało się to na przestrzeni lat, poniżej wyświetlimy wykres

df9 = df[df['LOKALIZACJA / ROK'] == 'Poland']
df9=df9.rename(columns={'LOKALIZACJA / ROK':'ROK'})
df9.reset_index(drop=True, inplace=True)
df9.set_index(['ROK'])
df9 = df9.T
df9.dtypes
df9['Poland']=df9['Poland'].astype(float)

KeyError: 'Poland'

In [35]:

df9.plot()
plt.ylabel('wartosc')
plt.xlabel('rok')
plt.title('Emigracja w Polsce')

TypeError: no numeric data to plot

In [ ]:
# Z powyższej tabeli wynika, że Polska od 2010 jest, niestety, na czele. Który kraj jest w takim razie najbezpieczniejszy? Poniżej przedstawiamy minimalne wyniki.
for rok in lata:
    df4 = df4.append(df2[df2[rok]==df2[rok].min()])

df4.reset_index(drop=True, inplace=True)
df4

In [ ]:
# Aby zaspokoić ciekawość sprawdźmy maksymalny wynik z tabeli, która zawierała 33 kraje.
df.max()

In [ ]:
# Jak widać (znacznie)(nie)odstaje on od naszych rekordów. Porównajmy w takim razie, również najniższy wynik, aby sprawdzić jak wypada on na tle naszego sąsiada - Słowacja.
df.min()